<h1>Editing default</h1>

<% form_for(@default) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @default %> |
<%= link_to 'Back', defaults_path %>